.title {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1360px;
  width: 100%;
}

.titleContent {
  max-width: 1360px;
  width: 100%;
  padding-top: 220px;
  padding-bottom: 220px;
}

.content {
  background: var(--all-black, #000);
}

.detail1 {
  color: var(--all-white, #fff);

  /* Detail 1 */
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 25.2px */
  letter-spacing: -0.54px;
}

.detail2 {
  color: var(--all-white, #fff);

  /* Detail 2 */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  letter-spacing: -0.48px;
}

.detail3 {
  color: var(--all-white, #fff);

  /* Detail 3 */
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 21px */
  letter-spacing: -0.45px;
}

.detail4 {
  color: var(--p1-gray3, #6b6b73);

  /* Detail 4 */
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 16.8px */
  letter-spacing: -0.36px;
}

.heading {
  color: var(--all-white, #fff);

  /* Heading 2 */
  font-family: Pretendard;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%; /* 60px */
  text-transform: capitalize;
}

.heading1 {
  color: var(--all-white, #fff);

  /* Heading 1 */
  font-family: Pretendard;
  font-size: 94px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.heading3 {
  color: var(--all-white, #fff);

  /* Heading 3 */
  font-family: Pretendard;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.body2 {
  color: var(--all-white, #fff);
  text-align: center;

  /* Body 2 */
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 33.6px */
  letter-spacing: -0.72px;
}

.body4 {
  color: var(--p1-bg, #f4f8fe);

  /* Body 4 */
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 28px */
  letter-spacing: -0.6px;
}

.whiteBox {
  border-radius: 16px;
  background: var(--p1-bg, #f4f8fe);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  /* box-shadow: 0px 0px 30px 6px rgba(0, 0, 0, 0.03); */
  /* height: 980px; */
  width: 100%;
  max-width: 1880px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.caption {
  color: var(--all-black, #000);

  /* caption */
  font-family: "Gotham-Bold";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 22.4px */
  letter-spacing: -0.8px;
}

.contentBox {
  border-radius: 20px;
  background: var(--all-white, #fff);
  box-shadow: 0px 0px 8.701px 0px rgba(210, 210, 210, 0.2);
  width: 100%;
  padding-top: 40px;
}

.chip {
  display: flex;
  padding: 5.221px 13.051px;
  align-items: center;
  gap: 3.48px;
  flex-shrink: 0;
  border-radius: 43.505px;
  background: var(--p1-main, #1b80ff);
  width: fit-content;
}

.chipText {
  color: var(--all-white, #fff);
  font-family: Pretendard;
  font-size: 13.921px;
  font-style: normal;
  font-weight: 500;
  line-height: "29px";
}

.leftBox {
  border-radius: 16px;
  background: var(--p1-gray1, #171920);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 980px;
}

.leftBoxContent {
  border-radius: 16px;
  background: var(--p1-white10, rgba(255, 255, 255, 0.1));
  max-width: 480px;
  width: 100%;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.leftBoxTitle {
  border-radius: 8px;
  background: var(--p1-white10, rgba(255, 255, 255, 0.1));
  width: 90px;
  height: 32px;
  flex-shrink: 0;
  margin-bottom: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftBox > *:last-child {
  margin-bottom: 0;
}

.rightBox {
  border-radius: 16px;
  background: var(--p1-sub1, #263b74);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 980px;
}

.rightBoxContent {
  border-radius: 16px;
  background: var(--p1-white10, rgba(255, 255, 255, 0.1));
  max-width: 480px;
  width: 100%;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.rightBoxTitle {
  border-radius: 8px;
  background: var(--p1-white10, rgba(255, 255, 255, 0.1));
  width: 90px;
  height: 32px;
  flex-shrink: 0;
  margin-bottom: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightBox > *:last-child {
  margin-bottom: 0;
}

.obj1 {
  width: 126px;
  height: 137px;
  transform: rotate(-7.645deg);
  flex-shrink: 0;
  animation: float 2s ease-in-out infinite; /* 2초 간격으로 무한 반복 */
  position: absolute;
  top: 20%;
  left: 23%;
  transform: translate(-23%, -20%);
}

.obj2 {
  width: 179px;
  height: 168px;
  transform: rotate(-10.274deg);
  flex-shrink: 0;
  animation: float 2s ease-in-out infinite; /* 2초 간격으로 무한 반복 */
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-15%, -50%);
}

.obj3 {
  width: 84px;
  height: 112px;
  flex-shrink: 0;
  animation: float 2s ease-in-out infinite; /* 2초 간격으로 무한 반복 */
  position: absolute;
  top: 78%;
  left: 28%;
  transform: translate(-28%, -78%);
}

.obj4 {
  width: 112px;
  height: 115px;
  flex-shrink: 0;
  animation: float 2s ease-in-out infinite; /* 2초 간격으로 무한 반복 */
  position: absolute;
  top: 25%;
  left: 71%;
  transform: translate(-71%, -25%);
}

.obj5 {
  width: 203px;
  height: 184px;
  flex-shrink: 0;
  animation: float 2s ease-in-out infinite; /* 2초 간격으로 무한 반복 */
  position: absolute;
  top: 45%;
  left: 75%;
  transform: translate(-75%, -45%);
}

.obj6 {
  width: 46px;
  height: 53px;
  flex-shrink: 0;
  animation: float 2s ease-in-out infinite; /* 2초 간격으로 무한 반복 */
  position: absolute;
  top: 82%;
  left: 72%;
  transform: translate(-72%, -82%);
}

@keyframes float {
  0% {
    transform: translateY(0); /* 시작 위치 */
  }
  50% {
    transform: translateY(-15px); /* 가운데 위치 */
  }
  100% {
    transform: translateY(0); /* 다시 시작 위치 */
  }
}
